* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;
}
button:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
.nav-section {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 24px 200px;
  background-color: #0f172a80;
}
.nav-cell {
  background-color: #ffffff1a;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-left ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.nav-left li:first-child {
  font-size: 3.2rem;
  font-weight: bold;
}
.nav-left ul {
  font-size: 1.6rem;
}
.nav-right {
  display: flex;
  gap: 24px;
  align-items: center;
}
.nav-right a {
  font-size: 1.6rem;
}
.nav-right button {
  background-color: #9333ea;
  padding: 12px 28px;
  border-radius: 8px;
  color: white;
  font-size: 1.6rem;
}
.nav-responsive {
  display: none;
}
/*  */
.hero-cell {
  background-color: #0f172a;
  padding-top: 220px;
  padding-bottom: 80px;
}
.purple-color {
  color: #9333ea;
}
.purple-color2 {
  color: #c084fc;
}
.hero-line {
  text-decoration: underline #9333ea;
}
.hero-line2 {
  text-decoration: overline #9333ea;
}
.hero-cell header {
  margin-bottom: 80px;
  text-align: center;
  padding: 0 190px;
}
.hero-cell header h1 {
  font-size: 7.2rem;
  margin-bottom: 32px;
}
.hero-cell header p {
  font-size: 1.8rem;
  margin-bottom: 32px;
}
.hero-cell header div {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.join-btn {
  padding: 16px 40px;
  background-color: #9333ea;
  border-radius: 8px;
  font-size: 2rem;
  color: white;
}
.view-btn {
  padding: 16px 31px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}
.hero-vector {
  width: 90%;
  margin: 0 auto;
}
.hero-vector img {
  width: 100%;
}
/*  */
.companies-cell {
  background-color: #0f172a;
  padding-top: 80px;
  padding-bottom: 80px;
}
.companies-cell header h1 {
  text-align: center;
  font-size: 5.6rem;
  margin-bottom: 80px;
}
.companies {
  /* display: grid;
  grid-template-columns: repeat(5, 20%); */
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  gap: 80px;
}
.companies p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.companies img {
  width: 20%;
}
/*  */

.cell-3 {
  background-color: #0f172a;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cell-3 div p:first-child {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.cell-3 div h1 {
  font-size: 7.2rem;
  margin-bottom: 32px;
}
.cell-3 div p {
  font-size: 1.8rem;
  margin-bottom: 32px;
}
.cell-3 div a {
  font-size: 2rem;
}
.cell-3 div a i {
  margin-left: 16px;
}
.cell-3 img {
  width: 30%;
}
/*  */
.cell-4 {
  background-color: #0f172a;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.cell-4 div p:first-child {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.cell-4 div h1 {
  font-size: 5.6rem;
  margin-bottom: 32px;
}
.cell-4 div p {
  font-size: 1.8rem;
}
.cell-4 img {
  width: 60%;
}
/*  */
.cell-5 {
  background-color: #0f172a;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 115px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.cell-5 div p:first-child {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.cell-5 div h1 {
  font-size: 7.2rem;
  margin-bottom: 32px;
}
.cell-5 div p {
  font-size: 1.8rem;
  margin-bottom: 32px;
}
.cell-5 div a {
  font-size: 2rem;
}
.cell-5 div a i {
  margin-left: 16px;
}
.cell-5 img {
  width: 30%;
}
/*  */
.cell-6 {
  background-color: #0f172a;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.cell-6 div p:first-child {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.cell-6 div h1 {
  font-size: 5.6rem;
  margin-bottom: 32px;
}
.cell-6 div p {
  font-size: 1.8rem;
}
.cell-6 img {
  width: 60%;
}
/*  */
.cell-7 {
  background-color: #581c87;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.cell-7-left p {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.cell-7-left h1 {
  font-size: 5.6rem;
  margin-bottom: 32px;
}
.cell-7-left a {
  font-size: 1.6rem;
}
.cell-7-left a i {
  margin-left: 16px;
}
.cell-7-right {
  font-size: 1.8rem;
}
.cell-7-right-top {
  margin-bottom: 16px;
}
.cell-7-right-bottom {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cell-7-right-bottom img {
  width: 15%;
}
.cell-7-right-bottom div {
  line-height: 30px;
}
.cell-7-mobile {
  width: 25%;
}
/*  */
.cell-8 {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #0f172a;
}
.cell-8 header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cell-8 header h1 {
  font-size: 5.6rem;
}
.cell-8 a {
  color: #9333ea;
  font-size: 1.6rem;
}
.cell-8 a i {
  margin-left: 8px;
}
.cell-8-img-cell {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}
.cell-8-img {
  width: 100%;
  margin-bottom: 24px;
}
.cell-8-img img {
  width: 100%;
}
.img-box p {
  font-size: 1.6rem;
  margin-bottom: 4px;
}
.img-box h2 {
  font-size: 3.2rem;
  margin-bottom: 16px;
}
.img-box a {
  font-size: 1.6rem;
}
/*  */
.last-cell {
  background-color: white;
  padding-top: 48px;
  border-top: 1px solid #80808080;
}
.last-cell-top {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  justify-content: space-between;
  gap: 10px;
  color: #94a3b8;
  margin-bottom: 48px;
}
.last-cell-top div h2 {
  color: #0f172a;
  font-size: 3.2rem;
}
.last-cell-top div {
  font-size: 1.6rem;
  line-height: 50px;
}
.last-cell-top a {
  color: #0f172a;
}
hr {
  border: 1px solid #80808080;
}
.footer-cell {
  padding-top: 49px;
  padding-bottom: 49px;
  color: #0f172a;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-cell-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* MEDIA QUERY STARTS HERE  */
@media (max-width: 1200px) {
  .nav-section {
    padding: 24px 100px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-line {
    text-decoration: none;
  }
}
@media (max-width: 979px) {
  html {
    font-size: 60%;
  }
  .nav-section {
    padding: 24px 100px;
  }
  .hero-cell header {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .nav-section {
    padding: 24px 40px;
  }
  .hero-cell {
    padding-bottom: 48px;
  }
  .companies-cell {
    padding-top: 16px;
    padding-bottom: 48px;
  }
  .companies {
    display: grid;
    grid-template-columns: repeat(3, 20%);
  }

  .cell-3 {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column-reverse;
  }
  .cell-3 img {
    width: 80%;
  }

  .cell-4 {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column-reverse;
  }
  .cell-4 img {
    width: 80%;
  }
  .cell-5 {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column-reverse;
  }
  .cell-5 img {
    width: 60%;
  }
  .cell-6 {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column-reverse;
  }
  .cell-6 img {
    width: 80%;
  }
  .cell-7 {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 20px;
  }
  .cell-7-right-bottom div {
    line-height: 20px;
  }
  .cell-8 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-section {
    position: static;
    background-color: #0f172a;
    padding: 16px;
  }
  .nav-cell {
    align-items: center;
  }
  .nav-left,
  .nav-right {
    /* background-color: transparent; */
    display: none;
  }
   .nav-responsive {
    display: block;
  }
  .nav-responsive h1 {
    font-size: 3.2rem;
  }
  .nav-responsive i {
    font-size: 3.2rem;
  }
  /*  */
  .hero-cell {
    padding-top: 40px;
  }
  .hero-cell header {
    padding: 0;
    margin-bottom: 48px;
  }
  .hero-cell header h1 {
    font-size: 5.6rem;
    line-height: 80px;
  }
  .hero-line {
    text-decoration: none;
  }
  .hero-cell header p {
    font-size: 1.6rem;
  }
  .hero-vector {
    width: 100%;
  }
  /*  */

  .companies-cell header h1 {
    font-size: 4rem;
    margin-bottom: 48px;
  }
  .companies {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    /* justify-content: center; */
    row-gap: 24px;
  }
  .companies div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*  */
  .cell-3 img {
    width: 60%;
  }
  .cell-3 div {
    text-align: center;
  }
  .cell-3 div h1 {
    font-size: 4rem;
  }
  .cell-3 div p {
    font-size: 1.6rem;
  }
  .cell-3 div a {
    display: inline-block;
    padding: 16px 0;
  }
  /*  */

  .cell-4 img {
    width: 100%;
  }
  .cell-4 div {
    text-align: center;
  }

  .cell-4 div h1 {
    font-size: 4rem;
  }
  .cell-4 div p {
    font-size: 1.6rem;
  }
  /*  */

  .cell-5 div {
    text-align: center;
  }
  .cell-5 div h1 {
    font-size: 4rem;
  }
  .cell-5 div p {
    font-size: 1.6rem;
  }
  .cell-5 div a {
    display: inline-block;
    padding: 16px 0;
  }
  /*  */

  .cell-6 img {
    width: 100%;
  }
  .cell-6 div {
    text-align: center;
  }
  .cell-6 div h1 {
    font-size: 4rem;
  }
  .cell-6 div p {
    font-size: 1.6rem;
  }
  /*  */
  .cell-7 {
    flex-direction: column;
    gap: 32px;
  }
  .cell-7-left {
    text-align: center;
  }
  .cell-7-left h1 {
    font-size: 4rem;
  }
  .cell-7-mobile {
    width: 100%;
  }
  .cell-7-right {
    text-align: center;
  }
  .cell-7-right-top {
    line-height: 30px;
  }
  .cell-7-right-bottom img {
    width: 20%;
  }
  .cell-7-right-bottom div {
    line-height: 30px;
  }
  /*  */
  .cell-8 header {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
  .cell-8 header h1 {
    text-align: center;
    font-size: 4rem;
  }
  .cell-8-img-cell {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 32px;
  }
  .img-box h2 {
    font-size: 2.4rem;
  }
  .img-box a {
    display: inline-block;
    padding: 16px 5px;
  }
  /*  */
  .last-cell-top {
    grid-template-columns: repeat(1, 100%);
    text-align: center;
    gap: 48px;
  }
  .footer-cell {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 24px;
    text-align: center;
  }
  .footer-cell-right {
    justify-content: center;
  }
}



